body {
  background: linear-gradient(
      165deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("../assets/fuzz.png"), #dfff4f;
  background-repeat: "repeat";
  min-height: "100vh";
  min-width: "100vw";
  font-size: 0.75em;
  margin: 0;
}
@media (min-width: 1000px) {
  body {
    font-size: 1em;
  }
}
